#body{
    background-color: black;
}
#sidebar{
    position: absolute;
    right: 50px;
}
ul{
    list-style: none;
}
#loginButton{
    font-size: 25px;
    color: black;
    background-color: darkblue;
}