body{
    background-color: rgb(219, 153, 146);
}
#mainHeader{
    color: darkblue;
    padding-left: 32%;
}
#sidebar{
    position: absolute;
    right: 50px;
}
#listTitle{
    font-size: 25px;
}
ul{
    list-style: none;
}
#splitArticleContainer{
    display: flex;
}
#splitArticle{
    flex: 2;
    margin: auto;
}
#loginButton{
    font-size: 25px;
    color: black;
    background-color: darkblue;
}